*.class
*.log

# eclipse specific
.settings/
.DS_Store
.gradle
.idea
.classpath
.project
bin/

# gradle specific
.gradle/
build/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Scala specific
.cache

.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
classes
generated-sources
generated_ws
doc

